.boutiqueContainer{
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--accent-color-1);
}

@media screen and (min-width: 1024px) {
    .boutiqueContainer{
        flex-direction: row;
    }
}
