:root {
  --max-width: 1100px;
  --main-color: #FFFFFF;
  --main-color-low-opacity: rgba(255, 255, 255, 0.432);
  --accent-color-1: #171717;
  --accent-color-2: #1717179f;
  --accent-color-3: #1717171c;
  --red: rgb(200, 0, 0);
  --beige: #D7D3C8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px; 
  /* default value is 16px */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

/* Three button wrapper */
.button-wrapper{
  width: 100%;
  background-color: var(--accent-color-1);
  padding: 3rem 0rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Explore watches section */
.exploreWatches{
  background-color: var(--accent-color-1);
  border: none;
  padding: 2rem 1rem;
}

.exploreWatches > h2{
  color: var(--main-color);
  font-weight: 900;
  letter-spacing: .1rem;
  font-size: 1.3rem;
}

.watch-card-container{
  background-color: var(--accent-color-1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
  overflow: hidden;
}

.image-container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-container > #img1{
  width: 70%;
}

.image-container > #img2{
  width: 80%;
  align-self: flex-end;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  margin-bottom: 3rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes border from the iframe */
}

/* Theme cards */
.themeCardContainer{
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  /* border: solid blue 3px; */
}

.themeCardContainer > div{
  width: 100%;
}

/* middle container */
.middleContainer{
  display: flex;
  flex-direction: column;
}

.middleContainer > .leftContainer{
  /* border: red solid; */
  height: 335px;
}

.middleContainer > .rightContainer{
  /* border: red solid; */
  background-color: var(--beige);
  height: 426px;
  /* border: blue solid; */
  display: flex;
  justify-content: center;
}

.contentContainer{
  transform: translateY(-12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  /* border: solid red; */
}

.contentContainer > h3{
  letter-spacing: .1rem;
  transform: translateY(-100%);
  font-size: .65rem;
}

.contentContainer h3:nth-of-type(2){
  font-size: .7rem;
  font-weight: 900;
}

.contentContainer > #beige-button{
  all: unset;
  /* max-width: 200px; */
  background-color: var(--accent-color-1);
  padding: 1.2rem 3rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color: var(--main-color);
  text-align: center;

}
/* all images under this middle container */
.middleContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Media query for web */
@media screen and (min-width: 1024px) {
  .button-wrapper{
    flex-direction: row;
    padding: 6rem 0rem;
    gap: 1.2rem;
    border-top: var(--main-color-low-opacity) solid 1px;
    border-bottom: var(--main-color-low-opacity) solid 1px;
  }

  .exploreWatches{
    padding: 2rem 5rem;
  }

  .exploreWatches > h2{
    font-size: 2.5rem;
  }

  .image-container{
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 8rem;
    gap: 7rem;
  }

  .image-container > #img1{
    width: 40%;
  }
  
  .image-container > #img2{
    width: 55%;
    align-self: center;
  }

  #upperContainer{
    flex-direction: row;
  }

  #upperContainer > div{
    width: 50%;
  }

  .middleContainer {
    flex-direction: row;
  }

  .middleContainer > .leftContainer{
    /* border: red solid; */
    height: auto;
    width: 60%;
  }
  
  .middleContainer > .rightContainer{
    /* border: red solid; */
    height: auto;
    width: 40%;;
  }

  .contentContainer{
    transform: translateY(0);
    padding: 0 4rem 6rem;
  }

  .contentContainer > h3{
    font-size: .75rem;
  }
  
  .contentContainer h3:nth-of-type(2){
    font-size: .9rem;
    font-weight: 900;
  }
}