.nav{
    /* border: red solid 3px; */
    height: 3.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--accent-color-3);
}

.imageContainer{ 
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--accent-color-3);
    border-right: 1px solid var(--accent-color-3);
}

.imageContainer img{
    width: 1.2rem;
}

.imageContainer #burger{
    width: 1.7rem;
}

#logoContainer{
    width: 50%;
}

#logoContainer img{
    width: 8.6rem;
}

#search{    
    /* border: green solid 3px; */
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 4rem;
}

#search > div{
    /* border: red solid 3px; */
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search > div > img{
    width: 1.2rem;
}

#search > h2{
    font-family: var(--font-libre-baskerville);
    font-style: italic;
    font-weight: 400;
    color: var(--accent-color-2);
}


/* Handling responsiveness on the header component */
.web{
    display: none;
}

#textContainer{
    display: none;
}

#textContainer > h2{
    width: 30%;
    font-size: 10px;
    text-align: center;
    letter-spacing: .1rem;
}

#hublotista > h2{
    font-size: 10px;
    text-align: center;
    letter-spacing: .1rem;
}

#hublotista > img{
    width: 1.2rem;
}


@media screen and (min-width: 1024px) {
    .nav{
        height: 3.5rem;
    }
    .web{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile{
        display: none;
    }

    .imageContainer{
        width: 5%;
    }

    #logoContainer{
        width: 20%;
        justify-content: start;
        border-right: none;
        padding: 0 1rem;
    }

    #textContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53%;
    }

    #search{
        display: none;
    }

    #hublotista{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 0 .5rem;
        border-right: 1px solid var(--accent-color-3);
    }
}